.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    font-size: 1.2rem;
    position: relative;
    .details {
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        .header {
            font-size: 3rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            .tg {
                color: orangered;
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }
        }

        .information {
            .detail {
                text-align: center;
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
            }   
        }

    }

    
    .svg {
        position: absolute;
        text-align: center;
        color: orangered;
        top: auto;
        bottom: -5vh;
        right: 0vh;
        left: -5vh;
    }

    .submit-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 10px;
        font-size: 1.2rem;
        input,textarea {
            width: 90%;
            padding: 10px;
            border: 3px solid white;
            font-size: 1.35rem;
            border-radius: 8px;
            background-color: transparent;
            color: white;
            ::placeholder {
                color: white;
            }
            outline: none;
        }
        button {
            font-size: 1.35rem;
            border-radius: 8px;
            color: white;
            background-color: orangered;
            width: 90%;
            padding: 10px;
            border: none;
        }
        .errors {
            width: 100%;
            position: relative;
            p:first-child {
                color: red;
                position: absolute;
                bottom: 0;
                top: 0.1px;
            }
            p:last-child {
                color: rgb(11, 138, 11);
                position: absolute;
                bottom: 0;
                top: 0.1px;
            }
        }
    }
}

@media (min-width: 768px) {
    .contact {
        font-size: 1.4rem;
        .details {
            margin: 2rem;
            margin-top: 5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            .header {
                font-size: 4rem;
                text-align: left;
                display: flex;
                margin-top: 1rem;
                flex-direction: column;
                .tg {
                    color: orangered;
                    font-size: 6rem;
                }
            }
    
            .information {
                margin: 2rem;
                .detail {
                    font-size: 1.4rem;
                    margin-top: 0.7rem;
                    margin-bottom: 0.7rem;
                }   
            }
        }
            
        .submit-form {
            height: 50vh;
            gap: 15px;
            font-size: 1.4rem;
        }
    }
}

@media (min-width: 1024px) {
    .contact {
        flex-direction: row;
        justify-content: space-around;
        padding-left: 5rem;
        padding-right: 5rem;
        .details {
            flex-direction: column;
            .header {
                margin-left: 1.5rem;
                margin-top: 0rem;

                .tg {
                    font-size: 6rem;
                }
            }
    
            .information {
                .detail {
                    text-align: left;
                    font-size: 1.3rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                }   
            }
    
        }

        .svg {
            top: auto;
            bottom: 25vh;
            left: auto;
            right: 20vh;
        }
    
        .submit-form {
            margin-top: 0rem;
            margin-bottom: 3.5rem;
            width: 90rem;
            height: 100%;
            font-size: 1.4rem;
            input,textarea {
                width: 100%;
                font-size: 1.2rem;
            }
            button {
                width: 100%;
                font-size: 1.2rem;
                padding: 15px;
                cursor: pointer;
            }
        }
    }
}