.side-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;

    .side-bar-links {
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        bottom: 0;
        width: 200px;
        z-index: 50;
    }
}

@media (min-width: 768px) {
    .side-bar-container {    
        .side-bar-links {
            width: 300px;
        }
    }
}

@media (min-width: 1024px) {
    .side-bar-container {    
        .side-bar-links {
            width: 400px;
        }
    }
}